
@model Bangazon.Models.ProductTypeViewModel.ProductTypeViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GroupedProducts) {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCount)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products)
            </td>
            <td>
                @foreach (var products in item.Products)
                {
                    <p>@products.Name</p>
                    <p>@products.Quantity</p>
                }
            </td>
            <td>
               <a asp-action="Edit" asp-route-id="@item.TypeId">Edit</a> |
               <a asp-action="Details" asp-route-id="@item.TypeId">Details</a> |
               <a asp-action="Delete" asp-route-id="@item.TypeId">Delete</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
